<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>R2 D2 R D R&apos; D R D2 R</string>
	<string>R2 D2 F&apos; R2 F D2 R D&apos; R</string>
	<string>R&apos; D R&apos; D&apos; B&apos; D B R2</string>
	<string>D R&apos; D R D2 R&apos; D R</string>
	<string>D2 R&apos; D B&apos; D&apos; B D&apos; R</string>
	<string>D R&apos; D&apos; R D&apos; F D F&apos;</string>
	<string>R&apos; D R F D2 F&apos;</string>
	<string>D F D&apos; F&apos; D&apos; R&apos; D R</string>
	<string>F D&apos; F2 R F R&apos;</string>
	<string>R&apos; D&apos; R D R&apos; D&apos; R</string>
	<string>F&apos; R F R&apos;</string>
	<string>D&apos; F D2 F&apos; D R&apos; D&apos; R</string>
	<string>D R&apos; D R D&apos; R&apos; D&apos; R</string>
	<string>F L B D&apos; B&apos; L&apos; F&apos;</string>
	<string>R&apos; D&apos; R&apos; B R B&apos; D2 R</string>
	<string>F D2 F&apos; D&apos; F D F&apos;</string>
	<string>D&apos; F D2 F&apos; D2 F D&apos; F&apos;</string>
	<string>R&apos; D&apos; R</string>
	<string>D&apos; F D F&apos; D2 F D&apos; F&apos;</string>
	<string>D&apos; F D&apos; F&apos; D R&apos; D&apos; R</string>
	<string>D2 R&apos; D&apos; R2 F&apos; R&apos; F</string>
	<string>D F D2 F2 R F R&apos;</string>
</array>
</plist>
