<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>R U²R²F R F&apos;U²R&apos;F R F&apos; </string>
	<string>F R&apos;F&apos;R U²F R&apos;F&apos;R²U²R&apos;</string>
	<string>R U B U&apos;B&apos;R&apos;F R U R&apos;U&apos;F&apos;</string>
	<string>R&apos;F R F&apos;U&apos;Ls D&apos;F D Rs</string>
	<string>L F R U²R&apos;U²R U²R&apos;F&apos;L&apos;</string>
	<string>Rs D&apos;B&apos;D Ls U B L&apos;B&apos;L </string>
	<string>Rs U&apos;B&apos;U B U B U B&apos;U&apos;Ls </string>
	<string>L F U&apos;R U R²F&apos;L&apos;F R F&apos; </string>
	<string>R B U B&apos;U&apos;B R&apos;F R B&apos;R&apos;F&apos; </string>
	<string>L U F U&apos;F&apos;U F U&apos;F&apos;L&apos;</string>
	<string>R U B U&apos;B L&apos;B&apos;L B&apos;R&apos; </string>
	<string>F R&apos;F&apos;R U²F²L F L&apos;F </string>
	<string>R B U B&apos;U&apos;B U B&apos;U&apos;R&apos;</string>
	<string>R F&apos;U²F U²F R²F&apos;R </string>
	<string>R B L&apos;B L B²R&apos;</string>
	<string>B F²L&apos;F L&apos;F&apos;L²F L&apos;B&apos;F </string>
	<string>L&apos;U&apos;L B L&apos; B&apos;U B L B&apos;</string>
	<string>L&apos;B²R B R&apos;B L </string>
	<string>R B&apos;R&apos;U&apos;R B R&apos;B&apos;U B</string>
	<string>L F L&apos;R U R&apos;U&apos;L F&apos;L&apos; </string>
	<string>R L²D&apos;B&apos;D B L B&apos;Ls </string>
	<string>B U L U&apos;F L&apos;B&apos;L F&apos;L&apos; </string>
	<string>R U B&apos;U&apos;R&apos;U R B R&apos;</string>
	<string>B L&apos;B&apos;L U L U&apos;L&apos; </string>
	<string>B U L U&apos;L&apos;B&apos;</string>
	<string>F&apos;U²F²R&apos;F&apos;R F&apos;U²F</string>
	<string>R B U B&apos;U&apos;R&apos;</string>
	<string>B&apos;U&apos;B U B L&apos;B&apos;L</string>
	<string>R B&apos;R&apos;U&apos;R U B U&apos;R&apos;</string>
	<string>L U L&apos;U&apos;F&apos;L&apos;B L Fs </string>
	<string>F R U&apos;B U B&apos;R&apos;F&apos; </string>
	<string>R B U B²U&apos;R&apos;U R B R&apos; </string>
	<string>F U²F&apos; U&apos;F U F&apos;U&apos;F U&apos;F&apos; </string>
	<string>R U²R²U&apos;R²U&apos;R²U²R </string>
	<string>F²D&apos;F U²F&apos;D F U²F </string>
	<string>R&apos;F&apos;L F R F&apos;L&apos;F </string>
	<string>R&apos;F&apos;L&apos;F R F&apos;L F </string>
	<string>B&apos;U F U&apos;B U F&apos; </string>
	<string>Rs B Ls U²Rs B Ls</string>
	<string>Fs U F&apos;U&apos;Fs&apos;L F L&apos;</string>
</array>
</plist>
