<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>R U²R²F R F&apos;U²R&apos;F R F&apos; </string>
	<key>2</key>
	<string>F R&apos;F&apos;R U²F R&apos;F&apos;R²U²R&apos;</string>
	<key>3</key>
	<string>R U B U&apos;B&apos;R&apos;F R U R&apos;U&apos;F&apos;</string>
	<key>4</key>
	<string>R&apos;F R F&apos;U&apos;Ls D&apos;F D Rs</string>
	<key>5</key>
	<string>L F R U²R&apos;U²R U²R&apos;F&apos;L&apos;</string>
	<key>6</key>
	<string>Rs D&apos;B&apos;D Ls U B L&apos;B&apos;L </string>
	<key>7</key>
	<string>Rs U&apos;B&apos;U B U B U B&apos;U&apos;Ls </string>
	<key>8</key>
	<string>L F U&apos;R U R²F&apos;L&apos;F R F&apos; </string>
	<key>9</key>
	<string>R B U B&apos;U&apos;B R&apos;F R B&apos;R&apos;F&apos; </string>
	<key>10</key>
	<string>L U F U&apos;F&apos;U F U&apos;F&apos;L&apos;</string>
	<key>11</key>
	<string>R U B U&apos;B L&apos;B&apos;L B&apos;R&apos; </string>
	<key>12</key>
	<string>F R&apos;F&apos;R U²F²L F L&apos;F </string>
	<key>13</key>
	<string>R B U B&apos;U&apos;B U B&apos;U&apos;R&apos;</string>
	<key>14</key>
	<string>R F&apos;U²F U²F R²F&apos;R </string>
	<key>15</key>
	<string>R B L&apos;B L B²R&apos;</string>
	<key>16</key>
	<string>B F²L&apos;F L&apos;F&apos;L²F L&apos;B&apos;F </string>
	<key>17</key>
	<string>L&apos;U&apos;L B L&apos; B&apos;U B L B&apos;</string>
	<key>18</key>
	<string>L&apos;B²R B R&apos;B L </string>
	<key>19</key>
	<string>R B&apos;R&apos;U&apos;R B R&apos;B&apos;U B</string>
	<key>20</key>
	<string>L F L&apos;R U R&apos;U&apos;L F&apos;L&apos; </string>
	<key>21</key>
	<string>R L²D&apos;B&apos;D B L B&apos;Ls </string>
	<key>22</key>
	<string>B U L U&apos;F L&apos;B&apos;L F&apos;L&apos; </string>
	<key>23</key>
	<string>R U B&apos;U&apos;R&apos;U R B R&apos;</string>
	<key>24</key>
	<string>B L&apos;B&apos;L U L U&apos;L&apos; </string>
	<key>25</key>
	<string>B U L U&apos;L&apos;B&apos;</string>
	<key>26</key>
	<string>F&apos;U²F²R&apos;F&apos;R F&apos;U²F</string>
	<key>27</key>
	<string>R B U B&apos;U&apos;R&apos;</string>
	<key>28</key>
	<string>B&apos;U&apos;B U B L&apos;B&apos;L</string>
	<key>29</key>
	<string>R B&apos;R&apos;U&apos;R U B U&apos;R&apos;</string>
	<key>30</key>
	<string>L U L&apos;U&apos;F&apos;L&apos;B L Fs </string>
	<key>31</key>
	<string>F R U&apos;B U B&apos;R&apos;F&apos; </string>
	<key>32</key>
	<string>R B U B²U&apos;R&apos;U R B R&apos; </string>
	<key>33</key>
	<string>F U²F&apos; U&apos;F U F&apos;U&apos;F U&apos;F&apos; </string>
	<key>34</key>
	<string>R U²R²U&apos;R²U&apos;R²U²R </string>
	<key>35</key>
	<string>F²D&apos;F U²F&apos;D F U²F </string>
	<key>36</key>
	<string>R&apos;F&apos;L F R F&apos;L&apos;F </string>
	<key>37</key>
	<string>R&apos;F&apos;L&apos;F R F&apos;L F </string>
	<key>38</key>
	<string>B&apos;U F U&apos;B U F&apos; </string>
	<key>39</key>
	<string>Rs B Ls U²Rs B Ls</string>
	<key>40</key>
	<string>Fs U F&apos;U&apos;Fs&apos;L F L&apos;</string>
</dict>
</plist>
