<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>R² U Fs R² Bs U R²</string>
	<string>R² U&apos; Fs R² Bs U&apos; R²</string>
	<string>L F&apos; L B² L&apos; F L B² L²</string>
	<string>B&apos; R B&apos; L² B R&apos; B&apos; L² B²　</string>
	<string>Ls Ds2 Ls D Ls2 U&apos; Bs2</string>
	<string>Ra U²  Ra&apos;Fa&apos;U² Fa</string>
	<string>R B L B&apos; R&apos; Fa R F&apos; L&apos; F R&apos; Fa&apos;</string>
	<string>R B U&apos; B&apos; U B U B² R&apos; B U B U&apos; B&apos;</string>
	<string>F&apos; U F&apos; U&apos; R&apos; D R&apos; D&apos; R² F&apos; R&apos; F R F</string>
	<string>L² F&apos; L D² R&apos; B R D²L B L F L&apos; B&apos;</string>
	<string>F L U L&apos; F L U&apos; F U F U&apos;F&apos;L&apos;F²</string>
	<string>F&apos; R&apos; U&apos;R F &apos;R&apos; U F&apos; U&apos; F&apos; U F R F2</string>
	<string>B2 L U L&apos;B² R D&apos; R D R²</string>
	<string>B2 R&apos; U&apos; R B2 L&apos; D L&apos; D&apos; L2</string>
	<string>R B U&apos; B&apos; R D B&apos; L&apos; B&apos; L B² D&apos; R²</string>
	<string>F U F&apos; L² D&apos; B U&apos; B&apos; U B&apos; D L²</string>
	<string>F&apos; U&apos; F R2 D B&apos; U B U&apos; B D&apos; R2</string>
	<string>L2 D&apos; B U&apos; B U B&apos; D L2 F U&apos; F&apos;</string>
	<string>R2 D B&apos; U B&apos; U&apos; B D&apos; R2 F&apos; U F</string>
	<string>L&apos; U R&apos; U² L U&apos; Rs U R&apos;U² L U&apos; R U</string>
	<string>R U&apos; L U2 R&apos; U Rs U&apos; L U2 R&apos; U L&apos; U&apos;</string>
</array>
</plist>
